@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
#navigator-toolbox {
  --tabs-border-color: rgba(100,0,0,.1) !important;
}

:root {
  --toolbar-bgcolor: rgba(0,0,0,0.2) !important;
}
*/

#nav-bar {
  box-shadow: none !important;
}

#navigator-toolbox::after {
  border-bottom: none !important;
}

.tab-line {
  background-color: transparent !important;
}

/* https://www.reddit.com/r/firefox/comments/73tvwx/disable_fullscreen_animation_f11_but_keep_showing/ */
#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}

/* https://www.reddit.com/r/firefox/comments/74patk/is_there_a_way_to_make_tabs_always_display_the/dqemkji/ */
.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button:not([selected="true"]) {
  display: -moz-box !important;
}

/* vertical tab separators to have top and bottom margin, also hide them on selected tab, also remove margin for hovered */
.tabbrowser-tab::after {
   border-left: 1px solid rgba(100, 0, 0, 0.3) !important;
   margin-top: calc(var(--tabs-top-border-width) + 4px) !important;
   margin-bottom: 4px !important;
}

.tabbrowser-tab[beforehovered]::after, .tabbrowser-tab:hover::after {
   border-left-color: var(--toolbarbutton-hover-background) !important;
   margin: 0 !important;
}

.tabbrowser-tab[beforeselected-visible]::after {
   border-left: none !important;
}

.tabbrowser-tab[selected]::after, .tabbrowser-tab[beforeselected]::after {
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: none !important;
}

/* more flat, less rounded corners like tabs */

#urlbar, .searchbar-textbox {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 6px hsla(0,0%,0%,.1) !important;
}

:root {
  --toolbarbutton-border-radius: 0 !important;
}

.toolbarbutton-icon, .toolbarbutton-badge-stack {
    background-color: transparent !important;
    border-radius: 0 !important;
}

#back-button {
    padding: 0 var(--toolbarbutton-outer-padding) !important;
}

#back-button > .toolbarbutton-icon {
    border: none !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    padding: var(--toolbarbutton-inner-padding) !important;
}

:not([disabled]):not([open]):hover > .toolbarbutton-icon,
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
    background-color: var(--backbutton-hover-background) !important;
    box-shadow: 0 1px 6px hsla(0,0%,0%,.1) !important;
}
