@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
#navigator-toolbox {
  --tabs-border-color: rgba(100,0,0,.1) !important;
}

:root {
  --toolbar-bgcolor: rgba(0,0,0,0.2) !important;
}
*/

#nav-bar {
  box-shadow: none !important;
}

#navigator-toolbox::after {
  border-bottom: none !important;
}

.tab-line {
  background-color: transparent !important;
}

/* https://www.reddit.com/r/firefox/comments/73tvwx/disable_fullscreen_animation_f11_but_keep_showing/ */
#navigator-toolbox[fullscreenShouldAnimate] {
  transition: none !important;
}

/* https://www.reddit.com/r/firefox/comments/74patk/is_there_a_way_to_make_tabs_always_display_the/dqemkji/ */
.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button:not([selected="true"]) {
  display: -moz-box !important;
}

#main-window #PersonalToolbar {
  visibility: collapse !important;
}

#main-window[title^="New Tab"] #PersonalToolbar {
  visibility: visible !important;
}

/* vertical tab separators to have top and bottom margin, also hide them on selected tab, also remove margin for hovered */
tabbrowser-tab::after {
   border-left: 1px solid rgba(100, 0, 0, 0.5) !important;
}

.tabbrowser-tab:not([beforehovered]):not(:hover)::after {
   margin-top: calc(var(--tabs-top-border-width) + 4px) !important;
   margin-bottom: 4px !important;
}

.tabbrowser-tab[beforeselected-visible]::after {
   border-left: none !important;
}

.tabbrowser-tab[selected]::after, .tabbrowser-tab[beforeselected]::after {
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: none !important;
}

/* remove border radius for adddress and search bars to match tabs visuals */

#urlbar, .searchbar-textbox {
    border-radius: 0 !important;
    box-shadow: none !important;
}
