[Desktop Entry]
Version = 1.0
Type = Application
Terminal = false
Name = Popcorn Time
Exec = /home/roman/bin/popcorntime.sh/Popcorn-Time
Icon = /home/roman/bin/popcorntime.sh/src/app/images/icon.png
Categories = Utility;
