[Desktop Entry]
Version = 1.0
Type = Application
Terminal = false
Name=Subtitle Edit
Exec=mono /home/roman/bin/subtitleedit/SubtitleEdit.exe %F
Icon=/home/roman/bin/subtitleedit/icon.png
Categories = Utility;
