[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Subtitle Edit
Exec=/home/roman/installed/subtitleedit/SubtitleEdit.exe %F
Icon=/home/roman/installed/subtitleedit/icon.png
Categories=Utility;
X-Desktop-File-Install-Version=0.23
